@tailwind base;
@tailwind components;
@tailwind utilities;

.titlebar {
    -webkit-app-region: drag;
}

.btn,
.group,
a {
    -webkit-app-region: no-drag;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #64748b;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}